<h1>Tasks</h1>
{{tasks}}


<table st-table="tasks">
	
	<thead>
		<tr>
			<th>Detail</th>
			<th>Attachments</th>
		</tr></thead>
	<tbody>
		<tr ng-repeat="task in tasks">
			<td>{{task.detail}}</td>
			<td>{{task.attachments}}</td>
		</tr>
	</tbody>
</table>


<div>
	
	<input name="detail" placeholder="detail" ng-model="task.detail"/>
	<input name="attachments" placeholder="attachments" ng-model="task.attachments"/>
	<button ng-click="save(task)">Save</button>
	<button ng-click="delete()">X</button>

</div>